{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
	<h1 class="text-center">
	   История состояний
	</h1>
	<table class="table">
	  <thead class="bg-dark white-text">
	    <tr>
	      <th scope="col">Дата</th>
	      <th scope="col">Состояние</th>
	      <th scope="col">Документ-основание</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for statemovement in statemovements %}
		    <tr>		    
		      <th scope="row">{{ statemovement.date }}</th>
		      <td>{{ statemovement.condition }}</td>
		      <td>{{ statemovement.document_base }}</td>		      
		    </tr>
		{% endfor %} 
	  </tbody>
	</table>

	<h1 class="text-center">
	   Судебные заседания
	</h1>
	<table class="table">
	  <thead class="bg-dark white-text">
	    <tr>
	      <th scope="col">Дата</th>
	      <th scope="col">Зал</th>
	      <th scope="col">Стадия</th>
	      <th scope="col">Результат</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for courtsession in courtsessions %}
		    <tr>		    
		      <th scope="row">{{ courtsession.date }}</th>
		      <td>{{ courtsession.hall }}</td>
		      <td>{{ courtsession.stage }}</td>
		      <td>{{ courtsession.result }}</td>     
		    </tr>
		{% endfor %} 
	  </tbody>
	</table>

	<h1 class="text-center">
	   Судебные акты
	</h1>
	<table class="table">
	  <thead class="bg-dark white-text">
	    <tr>
	      <th scope="col">Дата документа</th>
	      <th scope="col">Вид документа</th>
	      <th scope="col">Текст документа</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for judicialact in judicialacts %}
		    <tr>		    
		      <th scope="row">{{ judicialact.date }}</th>
		      <td>{{ judicialact.type_of_document }}</td>
		      {% if judicialact.document_text %}
		      	<td><a href="{{ judicialact.document_text }}">Скачать документ</a></td>
		      {% endif %}
		    </tr>
		{% endfor %} 
	  </tbody>
	</table>
</div>
{% endblock %}
